@use "../../base.scss" as *;

main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    grid-template-columns: 1fr 4fr; // Left - sidebar and right - game list
}

.Sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    border-right: 1px solid $color-bg-light;

    display: flex;
    flex-flow: column;
    align-items: start;
}

.GameList {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    h2 {
        text-align: center;
    }

    .GameGallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;

        .GameCard {
            padding: 1rem 2rem;
            display: flex;
            flex-direction: column;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 3px;
            }

            h3 {
                margin: 0.5rem 0 0.5rem 0;
                align-self: center;
                font-weight: 400;
                font-size: 1rem;
            }
        }
    }
}