@use "../../base.scss" as *;

main {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    grid-template-columns: 1fr 3fr; // Left - sidebar and right - game list
}

.Sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    border-right: 1px solid $color-bg-light;

    display: flex;
    flex-flow: column;
    align-items: start;
}

.GameList {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    h2 {
        text-align: center;
    }

    .GameContainer {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
    }
}