@use "../../base.scss" as *;

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; // Left | Center | Right
    align-items: center;
    justify-items: center;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    height: 70px;
    background-color: $color-surface;

    .Header_Wrapper {
        grid-column: 2; // Center column
        display: grid;
        grid-template-columns: 1fr 3fr 1fr; // Left | Center | Right
        align-items: center;
        background: $color-surface;
        height: 100%;
        width: 100%;
    }

    .Header_Logo {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 64px;
            height: auto;
        }
    }

    .Header_Container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        #header-text {
            margin: 0 15px;
            cursor: pointer;
            font-size: 1.2rem;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.87);
            text-decoration: none;

            &:hover {
                color: hotpink;
            }
        }
    }
}