// Colors
$color-bg-light: #333333;
$color-bg-dark: #242424;

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $color-bg-dark; // your dark background
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
}