@use "../../base.scss" as *;

footer {
    display: grid;
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    height: 50px;
    background-color: $color-foreground;
    align-items: center;
    justify-items: center;
    color: $color-text-muted;
    font-size: 0.85rem;
}