@use "../../base.scss" as *;
@use "sass:color";

.ImportExport {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }

    select {
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $color-border
    }

    &_Content {
        // Add styling for the content area if needed
    }

    .Add_Container {
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 500px;

        input[type="text"],
        input[type="number"],
        select,
        textarea {
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
            border: 1px solid $color-secondary;
        }

        textarea {
            resize: vertical;
        }

        button {
            padding: 10px 20px;
            background-color: $color-primary;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: color.adjust($color-primary, $lightness: 10%);
            }
        }
    }
}